<template>
    <lightning-tabset variant="scoped">
        <lightning-tab label="Submissions">
            <c-submission-Component oppid={recordId}></c-submission-Component>
        </lightning-tab>
        <lightning-tab label="Offers" >
            <c-offer-Component oppid={recordId}></c-offer-Component>
        </lightning-tab>
        <lightning-tab label="Stips">
            <c-stips-Component oppid={recordId}></c-stips-Component>
        </lightning-tab>
        <lightning-tab label="Loan Balances">
            <c-loan-Balance-Component oppid={recordId}></c-loan-Balance-Component>
        </lightning-tab>
        <lightning-tab label="Sales History">
            <c-sales-History-Component oppid={recordId}></c-sales-History-Component>
        </lightning-tab>
        <lightning-tab label="Commissions">
            <c-commission-component oppid={recordId}></c-commission-component>
        </lightning-tab>
        <lightning-tab label="Syndications">
            <c-syndication-component oppid={recordId}></c-syndication-component>
        </lightning-tab>
        <lightning-tab label="Contact Roles">
            <c-contact-roles-component oppid={recordId}></c-contact-roles-component>
        </lightning-tab>
        <lightning-tab label="Tasks">
            <c-tasks-component oppid={recordId}></c-tasks-component>
        </lightning-tab>
        <lightning-tab label="Attachments">
            <c-attacment-component oppid={recordId}></c-attacment-component>
        </lightning-tab>
    </lightning-tabset>
</template>