<!--
  @File Name          : submissionComponent.html
  @Description        : 
  @Author             : 
  @Group              : 
  @Last Modified By   : 
  @Last Modified On   : 12/5/2019, 11:27:01 AM
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    12/5/2019                             Initial Version
-->
<template>
  <lightning-card title="Submission" icon-name="custom:custom63">
    <lightning-messages></lightning-messages>
    <lightning-button label="New Submission" slot="actions" onclick={newSubmission}></lightning-button>
    <lightning-button label="Submit to Bank" slot="actions" onclick={submitToBank}></lightning-button>

    <div class="slds-m-around_medium">
      <template if:true={submissions}>
          <table aria-multiselectable="true" class="slds-table slds-table_bordered slds-table_fixed-layout slds-table_resizable-cols" role="grid">
              <thead>
                  <tr class="slds-line-height_reset">
                      <template for:each={columnsHeader} for:item='item'>
                        <th class="slds-is-resizable" scope="col" key={item}>
                            <p class="slds-truncate" style="text-align: center;">{item}</p>
                        </th>
                      </template>
                  </tr>
              </thead>
              <tbody>
                  <template for:each={submissions} for:item='item'>
                      <tr aria-selected="false" class="slds-hint-parent" key={item.id}>
                          <template for:each={fields} for:item='field'>
                              <td role="gridcell" key={field}>
                                <div class="slds-truncate" style="text-align: center;">{item}- {field}</div>
                              </td>
                          </template>
                      </tr>
                  </template>
              </tbody>
          </table>
      </template>
    </div>

    <template if:true={showNewSubmissionModal}>
      <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
          <header class="slds-modal__header">
            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">New Submission</h2>
          </header>
          <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
            <center>
              <h2><b>Welcome to Salesforce Code Crack</b></h2>
              <br />
              <p>Happy Learning!!!</p>
            </center>
          </div>
          <footer class="slds-modal__footer">
            <lightning-button label="Cancel" variant="neutral" onclick={closeModal} ></lightning-button
            >&nbsp;&nbsp;&nbsp;&nbsp;
            <lightning-button label="Save" variant="brand" onclick={saveMethod}></lightning-button>
          </footer>
        </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
  </lightning-card>
</template>